{% extends 'base.html.twig' %}
{% block body %}

    <br/><br/><br/><br/>
    <div class="center-block example-wrapper">
    <h1>Launch a new Tricks! ?</h1>
    {{ form_start(addTricksForm) }}
    {{ form_widget(addTricksForm) }}
    <button type="submit" class="btn btn-primary">Create!</button>
    {{ form_end(addTricksForm) }}
</div>
{% endblock %}