{% extends 'base.html.twig' %}

{% block title %} my profile {% endblock %}
{% block body %}
    <br/><br/><br/><br/>

    <section class="d-flex justify-content-center">
        <h3>Welcome back, {{ app.user.Username }}</h3>
    </section>

    <div class="container">
        <!--<img src="https://robohash.org/{{ app.user.email }}" class="img-responsive thumbnail">-->
    </div>

    <div class="row">

    </div>

{% endblock %}