{% extends 'base.html.twig' %}

{% block title %} Sign IN {% endblock %}
{% block body %}

    <br/><br/><br/><br/>


<div class="example-wrapper">
    <h1 id="connexion">Connexion</h1>
</div>

<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <button class="btn" type="submit">login</button>
</form>

{% endblock %}
