###> symfony/framework-bundle ###
/.idea
/.git
/.env.local
/.env.local.php
/.env.*.local
/.env.prod
/public/bundles/
/var/
/vendor/
/public/data
/ansible/hosts.ini
/.idea
/CleEC2.pem
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
