{% extends 'base.html.twig' %}

{% block title %} Learn More {% endblock %}
{% block body %}

    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0"> Snowtricks Website</h1>
                <h2 class="masthead-subheading mb-0"> <i class="fa fa-angle-double-right"></i> Share your tricks, Learn Snow</h2>
                <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <div class="center-block example-wrapper">
        <br/><br/>
        <section>
            <h1> Learn More </h1>

            <p> this platform has the goal of sharing and knowledge about snowboard figures.
                You will be able to have a member area and share your knowledge with the Net surfers</p>

            <h3> right of use</h3>

            <p> The submission of the snowboard figures is governed by a restricitf form,
                you will not be able to upload a figure without images for example or submit a figure without description.
                Your figures are also subjected to the judgment of the Internet users thanks to a system of comments</p>

            <h3>Profile </h3>

            <p>
                your member area is the dashboard, you can change your password or your profile picture that will appear in the comments.
                So be sure to keep your profile up to date, emails will also be sent to you if you reset your password</p>
        </section>
        <br/><br/><br/>
    </div>

{% endblock %}