{# templates/emails/signup.html.twig #}

<h3>Hello !</h3>

Hi {{ name  }}! You're successfully registered on Snowtricks Website.

Thanks for your subscription and now, go to visit our website !

go to: <a href="{{ url('home') }}"> Website for comfirm your account </a>

